@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.header-relative-component {

    .global {
        font-family: 'Courier New', Courier, monospace;
        height: 120px;
    }
    .titleText {
        text-transform: uppercase;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        color: white;
        line-height: 60px;
    }
    .titleSymbol {
        border-radius: 15px;
        margin-left: 40px;
        width: 100px;
        height: 60px;
        vertical-align: middle;
        line-height: 60px;
        background-color: black;
    }
    .title {
        margin: 0 auto;
        font-size: 45px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }
    .buttons {
        float: right;
    }
    .signup {
        margin-left: 20px;
        margin-right: 40px;
    }
    .signup, .login {
        font-size: 20px;
    }
    .example-spacer {
        flex: 1 1 auto;
    }
}