<div class="header-relative-component">

  <mat-toolbar class="global">  

    <div class="titleSymbol">
        <h1 class="titleText">CDB</h1>
    </div>       

    <h1 class="title">COMPUTER DATABASE</h1>

    <div *ngIf="false; else elseBlock" style="margin-right: 25px;" class="logged">
      <span>Welcome, User !</span>
    </div>
    <ng-template class="buttons" #elseBlock>
        <button class="login" mat-raised-button color="primary">Login</button>
        <button class="signup" mat-raised-button color="accent">Signup</button>
    </ng-template>

  </mat-toolbar>

</div>
