
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    padding: 0 16px;

    background-color: #ffffff;
}

.title {
    font-size: 1.75em;
}
.login, .signup {
    width: 100px;
}

.title-symbol{
    height: 80%;
}

img{
    height: 100%;
}
.flagsFr {
    flex: none;
    margin-right:25px;
}
.flagsEn {
    margin-right: 45px;
}
.flags mat-icon {
    width:inherit;
    height:90%;
}
.container-button :nth-child(3){
    margin-right: 10px;
}

.container-button :nth-child(4){
    margin-left: 10px;
}
