<mat-expansion-panel class="container-panel" hideToggle="true" #edit>
  <mat-expansion-panel-header class="container-header" >
    <div class="container-table-row">
      <span>{{computer.name}}</span>
    </div>
    <div class="container-table-row">
      <span>{{computer.introduced}}</span>
    </div>
    <div class="container-table-row">
      <span>{{computer.discontinued}}</span>
    </div>
    <div class="container-table-row">
      <span *ngIf="!isEdit">{{computer.company.name}}</span>
    </div>
    <div class="container-table-row">
      <button mat-button (click)="onEdit(computer)" *ngIf="!edit.expanded">Edit</button>
      <button mat-button (click)="save()" *ngIf="edit.expanded">Save</button>
      <button mat-button (click)="delete()" *ngIf="!edit.expanded">Delete</button>
      <button mat-button (click)="onEdit(computer)" *ngIf="edit.expanded">Cancel</button>
    </div>
  </mat-expansion-panel-header>

  <mat-form-field>
      <input matInput type="text" value="{{ computer.name }}" placeholder="computer name" />
  </mat-form-field>

  <mat-form-field>
      <input matInput type="date" value="{{ introducedDate }}" />
      <input matInput type="time" value="{{ introducedHour }}" />
  </mat-form-field>

  <mat-form-field>
      <input matInput type="date" value="{{ discontinuedDate }}" />
      <input matInput type="time" value="{{ discontinuedHour }}" />
  </mat-form-field>

  <mat-form-field>
      <input matInput type="text" value="{{ computer.company.name }}" placeholder="company name" />
  </mat-form-field>

</mat-expansion-panel>