.container-panel{
    margin: 0 10%;
    background-color: inherit;
}

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border-radius: 5px;
    padding: 0 10px;
}

.container-table-row{
    width: 20%;
    text-align: center;
    align-self: baseline;
}

// #container-button :nth-child(n){
//     margin: 0 10px;
// }

span{
    color: black;
    font-size: 1.05em;
    font-weight: 500;
}
