#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    
    padding: 8px 100px;
    margin: 0 10px;
    background-color: inherit;
}

#container-button :nth-child(n){
    margin: 0 10px;
}

span{
    color: black;
    font-size: 1.05em;
    font-weight: 500;
}
