.footer-fix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;

  padding-top: 20px;
  padding-bottom: 20px;

  position: sticky;
  position: -webkit-sticky;
  bottom: 0;

  background-color: #FFFFFF;
  box-shadow: 0 -4px 4px -2px #303030;
}

.navigation-links {
  margin: auto;
}

.page-size-selector {
  position: absolute;
  right: 20px;
}
