.footer-fix {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;

  position: sticky;
  position: -webkit-sticky;
  bottom: 0;

  background-color: #FFFFFF;
  box-shadow: 0 -4px 4px -2px #303030;
}

// .footer-fix :nth-child(n){
//   width: 33%;
// }

.navigation-links{
  width: 33%;
  text-align: center
}

.elements-links{
  // -right: 20px;
  width: 33%;
  text-align: center
}

.filler{
  width: 33%;
}

.button-disabled{
  pointer-events: none;
}