<app-header-fix (sort)="changePage($event)"></app-header-fix>
<mat-grid-list cols="5" rowHeight="30px">
  <mat-grid-tile [colspan]=1 [rowspan]=1>
    <span>computer name</span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1>
    <span>introduced date</span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1>
    <span>discontinued date</span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1>
    <span>company name</span>
  </mat-grid-tile>
</mat-grid-list>
<div id="computers">
    <app-computer-details class="computer" *ngFor="let computer of computers" [computer] = "computer" (deleteComputer)="deleteComputer($event)"></app-computer-details>
</div>
<app-footer-fix [maxPage]="maxPage" (pagination)="changePage($event)"></app-footer-fix>
