.container{
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border-bottom: 1px solid black;
    margin: 0 10%;
    padding: 15px 0;
}

.container :nth-child(n){
    width: 20%;
    text-align: center;
    align-self: baseline;
}

#computers{
    margin-bottom: 3px;
}

#computers :nth-child(2n){
    background-color: rgb(255, 255, 255);
}

#computers :nth-child(2n+1){
    background-color:rgb(235, 235, 235);
}

span{
    color: black;
    font-size: 1.10m;
    font-weight: 400;
}