<app-header-fix (sort)="changePage($event)"></app-header-fix>
<mat-grid-list cols="5" rowHeight="30px">
  <mat-grid-tile [colspan]=1 [rowspan]=1>
    <span [translate]="'topboard.nameComputer'"></span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1>
    <span [translate]="'topboard.introducedComputer'"></span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1>
    <span [translate]="'topboard.discontinuedComputer'"></span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1>
    <span [translate]="'topboard.companyNameComputer'"></span>
  </mat-grid-tile>
</mat-grid-list>
<div id="computers">
    <app-computer-details *ngFor="let computer of computers" [computer] = "computer" (deleteComputer)="deleteComputer($event)"></app-computer-details>
</div>
<app-footer-fix [maxPage]="maxPage" (pagination)="changePage($event)"></app-footer-fix>
