<app-header-fix (sort)="changePage($event)"></app-header-fix>

<div class="container">
  <div>
    <span>COMPUTER NAME</span>
  </div>
  <div>
    <span>INTRODUCED DATE</span>
  </div>
  <div>
    <span>DISCONTINUED DATE</span>
  </div>
  <div>
    <span>COMPANY NAME</span>
  </div>
  <div>
  </div>
</div>

<div id="computers">
  <app-computer-details *ngFor="let computer of computers" [computer]="computer"
    (deleteComputer)="deleteComputer($event)"></app-computer-details>
</div>

<app-footer-fix [maxPage]="maxPage" (pagination)="changePage($event)"></app-footer-fix>