#header-fix-component {
    height: 70px;
    background-color: #4b4c4c;
}
.fixed {
    line-height: 70px;
    float: left;
}
.search {
    margin-left: 5px;
}
.sortSelection {
    line-height: 70px;
    margin-right: 55px;
    float: right;
}

