$orange-cdb: #f05a26;
$light-orange-cdb: #f56d3f;
$grey-cdb: #151515;

#header-fix-component {
    height: 70px;
    background-color: #4b4c4c;
}
.fixed {
    line-height: 70px;
    float: left;
}
.search {
    margin-left: 5px;
}
.sortSelection {
    line-height: 70px;
    margin-right: 55px;
    float: right;
}

.fixed button, .sortSelection button{
    background-color: $light-orange-cdb;
}