.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    font-family: 'Courier New', Courier, monospace;
    padding: 0 16px;

    background-color: white;
    box-shadow: 0 4px 4px -2px #303030;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
}

.container-search,
.continaer-sort{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}


.container-search :nth-child(1){
    margin-right: 5px;
}

.container-search :nth-child(2){
    margin-left: 5px;
}

.container-sort :nth-child(1){
    margin-right: 5px;
}

.container-sort :nth-child(2){
    margin-left: 5px;
    margin-right: 5px;
}

.container-sort :nth-child(3){
    margin-left: 5px;
}

.container-search :nth-child(n) :nth-child(n),
.container-sort :nth-child(n) :nth-child(n) {
    margin-right: 0;
}

