<div id="header-fix-component">

    <div class="fixed">
        <button style="margin-left: 40px;margin-right:10px;" mat-mini-fab color="accent"><i class="material-icons">search</i></button>
        <input class="search" value="search">  
    </div>

    <div class="sortSelection">
        <button style="margin-right: 30px;" mat-mini-fab color="accent"><i class="material-icons">swap_vert</i></button>

        <mat-form-field style="margin-right: 30px;">
            <mat-label style="color: white;">Selection</mat-label>
            <mat-select>
              <mat-option value="name">name</mat-option>
              <mat-option value="introduced">introduced</mat-option>
              <mat-option value="discontinued">discontinued</mat-option>
              <mat-option value="companyName">company name</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle style="color:white;">ASC</mat-slide-toggle>
    </div>
    
</div>
