<div class="container">

    <div class="container-search">
        <div>
            <button type="submit" mat-mini-fab (click)="doSearch()" color="accent">
                <i class="material-icons">search</i>
            </button>
        </div>
        <div>
            <mat-form-field>
                <input matInput class="search" placeholder="{{'searchField' | translate}}" (change)="changeSearchName($event)" (keyup.enter)="doSearch()">
            </mat-form-field>
        </div>
    </div>

    <div class="container-sort">
        <mat-form-field class="selectField">
            <mat-label style="color: black;"><span [translate]="'sort.selection'"></span></mat-label>
            <mat-select [(value)]="sortName" (selectionChange)="doSort()">
                <mat-option value="computerName"><span [translate]="'sort.nameComputer'"></span></mat-option>
                <mat-option value="introduced"><span [translate]="'sort.introducedComputer'"></span></mat-option>
                <mat-option value="discontinued"><span [translate]="'sort.discontinuedComputer'"></span></mat-option>
                <mat-option value="companyName"><span [translate]="'sort.companyNameComputer'"></span></mat-option>
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle (change)="toggleAsc()"><i class="material-icons">sort_by_alpha</i></mat-slide-toggle>
    </div>

</div>
