<div class="container">

    <div class="container-search">
        <div>
            <button mat-mini-fab [translate]="'searchField'" (click)="doSearch()" color="accent"><i class="material-icons">search</i></button>
        </div>
        <div>
            <mat-form-field>
                <input matInput class="search" placeholder="search" (change)="changeSearchName($event)">
            </mat-form-field>
        </div>
    </div>

    <div class="container-sort">
        <button (click)="doSort()" mat-mini-fab color="accent"><i class="material-icons">swap_vert</i></button>

        <mat-form-field class="selectField">
            <mat-label [translate]="'sort.selection'" style="color: white;">Selection</mat-label>
            <!-- <select [(value)]="sortName">
                <option value="computerName" translate>sort.nameComputer</option>
                <option value="introduced" translate>sort.introducedComputer</option>
                <option value="discontinued" translate>sort.discontinuedComputer</option>
                <option value="companyName" translate>sort.companyNameComputer</option>
            </select> -->
            <mat-select [(value)]="sortName">
                <mat-option value="computerName" translate>Name</mat-option>
                <mat-option value="introduced" translate>Introduced</mat-option>
                <mat-option value="discontinued" translate>Discontinued</mat-option>
                <mat-option value="companyName" translate>Company Name</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle (click)="toggleAsc()">ASC</mat-slide-toggle>
    </div>

</div>
